@import "tailwindcss";

@theme {
  --color-bg-dark: #0f1117;
  --color-bg-panel: #161b22;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-text-main: #f3f4f6;
  --color-text-muted: #9ca3af;
  --color-border: #30363d;
}

body {
  @apply bg-bg-dark text-text-main font-sans antialiased;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full hover:bg-gray-600;
}
